.homepage {
  margin-top: 80px;
}

.homepage::after {
  content: "";
  background: url(./couple.JPG) no-repeat center center scroll;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.headline {
  text-align: center;
  color: black;
}

.names {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.wedding-date {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 475px) {
  .name-headline {
    margin-top: 80px;
  }

  .homepage::after {
    background-size: cover;
  }
}
