.registry {
  margin-top: 40px;
}

.registry-image {
  text-align: center;
}

.registry-link {
  text-align: center;
  flex: 1 0 auto;
}

.registry-link a {
  font-size: 1.5rem;
  color: #475e5d;
  text-decoration: underline;
}
