.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

* {
  font-family: Bembo;
}

.b-lazy.b-loaded {
  opacity: 1;
}

.headline {
  text-align: center;
  font-size: 3rem;
  color: black;
}

.homepage {
  margin-top: 80px;
}

.homepage::after {
  content: "";
  background: url(./couple.JPG) no-repeat center center scroll;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.names {
  margin-bottom: 1rem;
}

.wedding-date {
  font-size: 2rem;
  margin-bottom: 1rem;
}
